* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .stopwatch {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 2.5em;
    color: #fff;
    text-align: center;
    padding: 0.5em;
    border-radius: 0.25em;
    margin-bottom: 0.5em;

    .display {
      font-size: 4.5em;
      margin-bottom: 0.5em;

      .time {
        display: inline-block;
        min-width: 1.5em;
      }
    }

    .buttons {
      display: flex;
      justify-content: center;
      gap: 0.5em;
      margin-bottom: 0.5em;

      & > button {
        min-width: 200px;
        transition: all 0.3s ease-in-out;
      }

      .toggle {
        background-color: rgb(88, 233, 88);
        border: 0;
        color: inherit;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        padding: 1rem;
        text-align: center;
        border-radius: 5px;

        &:hover {
          background-color: rgb(76, 209, 76);
        }
      }

      .reset {
        background-color: rgb(248, 103, 103);
        border: 0;
        color: inherit;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        padding: 1rem;
        text-align: center;
        border-radius: 5px;

        &:hover {
          background-color: rgb(224, 81, 81);
        }
      }
    }
  }
}
